/*o asterisco é uma propriedade que todas as classes vão ter*/
* {
    padding: 20px;
}

h1 {
    text-align: left;
    border: 5px solid black;
    border-radius: 10px;
    background: black;
    color: white;
    margin: 30px 70px 15px 20px;
    /*margem em cima, direita, baixo e esquerda*/
    padding-top: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

body {
    background: rgb(180, 159, 159);
}

p {
    color: black;
    text-align: center;
    text-indent: 50px;
    line-height: 1.8;
    word-spacing: 15px;
}

.botao {
    margin-left: 40%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    text-decoration: none;
}

.botao:hover {
    background-color: green;
}