div {
    border: solid red 1px;
    position: relative;
}

img {
    width: 100%;
    opacity: 0.5;
}

.centro {
    border: solid red 2px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;

}